.menu {
    background: #042654 ;
    height: 100vh;
}

.nav {
    background: #0B45D5;
    height: 120px;
}

.navbar {
    height: 120px;
}

.photo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: white;
}

.icon {
    color: #47535e;
}